__pycache__/
*.pyc
venv/
EXAMPLES/*/inc/
EXAMPLES/*/src/
EXAMPLES/*/MDK-ARM/
EXAMPLES/*/_build_/
EXAMPLES/*/Makefile
EXAMPLES/*/*.ld
EXAMPLES/*/*.svd
EXAMPLES/*/*.jdebug
EXAMPLES/*/*.jflash
EXAMPLES/*/project.jdebug
EXAMPLES/*/project.emProject
EXAMPLES/*/README.md
EXAMPLES/*/build_test.bat
EXAMPLES/*/ob.bin
EXAMPLES/_blob_*
EXAMPLES/_gen_blobs.py
EXAMPLES/_test*.txt
EXAMPLES/*/*.elf
EXAMPLES/*/*.hex
EXAMPLES/*/*.map
EXAMPLES/*/*.d
tests/fixtures/cache/
.coverage
htmlcov_/
.coverage.*
